.top {
  background-image: linear-gradient(
      180deg,
      #00000080,
      #00000080,
      transparent,
      transparent,
      transparent,
      transparent,
      white
    ),
    linear-gradient(90deg, #102232cc, #10223220),
    url(../assets/images/header-image-faq.webp);
}

section.apply-now {
  padding-top: 1rem;
  padding-bottom: 8rem;
}

section.faq {
  display: grid;
  padding: 3rem;
  gap: 1rem;
}

h3 {
  font-weight: 900;
  display: inline;
}

details summary:focus {
  color: #427aab;
  outline: none;
}

details summary {
  cursor: pointer;
}

details p {
  max-width: 70ch;
}

summary {
  margin-bottom: 0.5rem;
}
